.idea/
.git
/app/vendor
/app/node_modules
/app/public/hot
/app/public/storage
/app/public/uploads
/app/storage/*.key
/app/.env
/app/.env.backup
/app/.phpunit.result.cache
/app/docker-compose.override.yml
/app/Homestead.json
/app/Homestead.yaml
/app/npm-debug.log
/app/yarn-error.log
/app/_ide_helper.php
/app/composer.lock
/app/package-lock.json
/base
data/dev