#films_table {
    width: 100%;
}

.poster_img {
    width: 70px;
    height: auto;
}

.buttons-wrapper {
    margin: 20px 0;
}

.genre-list {
    list-style: none;
}

.genre-list label {
    margin-left: 10px;
}
