.popular_products {
  width: 100%;
  background: #F5F5F5;
  padding: 132px 0 88px 0;
  margin-top: -85px;
  margin-bottom: 110px;
  position: relative;
}

.popular_products-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4000px;
  height: 128px;
  margin-top: -20px;
  margin-left: -60px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.popular_products-bg svg {
  fill: #F5F5F5;
}

.popular_products-bg--desktop {
  display: block;
}

.popular_products-bg--mobile {
  display: none;
}

.popular_products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.popular_products-title {
  margin-bottom: 83px;
}

.popular_products-title:last-child {
  margin-bottom: 0;
}

.popular_products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.popular_products-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.popular_products__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 272px;
}

.popular_products__block-content {
  margin-bottom: 18px;
}

.popular_products__block-content:last-child {
  margin-bottom: 0;
}

.popular_products__block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.popular_products__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: 220px;
  margin-bottom: 30px;
}

.popular_products__block-img:last-child {
  margin-bottom: 0;
}

.popular_products__block-img img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.popular_products__block-title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.popular_products__block-title:last-child {
  margin-bottom: 0;
}

.popular_products__block-price {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
}

.popular_products__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 34px;
  color: #fff;
  border-radius: 20px;
  background: #18A0FB;
  padding: 0 40px;
}

.popular_products__buy:hover {
  background: #0099FF;
}

.popular_products__buy:active {
  background: #45B2FB;
}

.popular_products__buy-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.popular_products-mobile_slider.slick-initialized {
  width: calc(100% + 40px);
  padding-bottom: 66px;
  margin: 0 -20px;
}

.popular_products-mobile_slider.slick-initialized .slick-track {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular_products-mobile_slider.slick-initialized .popular_products__block-content {
  width: 100%;
  max-width: 273px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.popular_products-mobile_slider.slick-initialized .popular_products__block-bottom {
  width: 100%;
  max-width: 273px;
  margin: 0 auto;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li {
  margin-right: 5px;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li:last-child {
  margin-right: 0;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li.slick-active button {
  background: #000;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 18px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #555;
  border-bottom: 1px solid transparent;
  padding: 0;
  padding-bottom: 3px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-right: 23px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:hover {
  color: #000;
}

.pagination-item.active {
  font-weight: 600;
  border-bottom-color: #000;
}

.catalog_page {
  width: 100%;
  padding-top: 41px;
}

.catalog_page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  position: relative;
}

.catalog_page-filter_btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  border: 2px solid #18A0FB;
  border-radius: 20px;
  padding: 0 37px;
  margin-bottom: 56px;
}

.catalog_page-filter_btn:hover {
  color: #fff;
  background: #18A0FB;
}

.catalog_page__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  background: #fff;
  margin-right: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 81px;
}

.catalog_page__sidebar-bg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.catalog_page__sidebar-bg--md {
  display: block;
}

.catalog_page__sidebar-bg--sm {
  display: none;
}

.catalog_page__sidebar-bg--xs {
  display: none;
}

.catalog_page__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
}

.catalog_page__categories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 18px;
  position: relative;
  z-index: 1;
}

.catalog_page__categories-block:last-child {
  margin-bottom: 0;
}

.catalog_page__categories-block--uo {
  margin-top: -6px;
}

.catalog_page__categories-btn {
  border-bottom: 1px solid transparent;
  padding-bottom: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 0;
}

.catalog_page__categories-btn.active {
  border-bottom-color: #000;
  padding-bottom: 5px;
  margin-bottom: 13px;
}

.catalog_page__categories-btn.active span {
  padding-left: 0;
}

.catalog_page__categories-btn.active span:before {
  width: 1px;
  opacity: 0;
}

.catalog_page__categories-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  padding-left: 23px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.catalog_page__categories-btn span:before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.catalog_page__categories-list {
  display: none;
  width: 100%;
}

.catalog_page__categories-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.catalog_page__categories-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-bottom: 5px;
}

.catalog_page__categories-item:last-child {
  margin-bottom: 0;
}

.catalog_page__categories-item input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.catalog_page__categories-item input:checked + i:after {
  opacity: 1;
}

.catalog_page__categories-item i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  margin-top: 7px;
  margin-right: 12px;
}

.catalog_page__categories-item i:after {
  content: "";
  display: block;
  width: 11px;
  height: 8px;
  background-color: #000;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 3.28571L4.6 7L10 1' stroke='black'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 3.28571L4.6 7L10 1' stroke='black'/%3e%3c/svg%3e ");
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: -1px;
}

.catalog_page__categories-item p {
  font-size: 16px;
  line-height: 1.86;
}

.catalog_page__categories-item p b {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}

.catalog_page__categories-item p.gradient {
  background: -o-linear-gradient(45deg, #c10016, #ffda00);
  background: linear-gradient(45deg, #c10016, #ffda00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffda00;
}

.catalog_page__categories-submit {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.catalog_page__categories-submit_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  border: 2px solid #18A0FB;
  border-radius: 20px;
  padding: 0 30px;
}

.catalog_page__categories-submit_btn:hover {
  color: #fff;
  background: #18A0FB;
}

.catalog_page__content {
  width: 100%;
  margin-top: 20px;
}

.catalog_page-box {
  margin-bottom: 79px;
}

.catalog_page-box:last-child {
  margin-bottom: 0;
}

.catalog_page-blocks {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -42px 0;
}

.catalog_page__block {
  width: 195px;
  margin: 42px 0;
  margin-right: 100px;
}

.catalog_page__block:nth-child(3n) {
  margin-right: 0;
}

.catalog_page__block-content {
  margin-bottom: 3px;
}

.catalog_page__block-img {
  min-height: 150px;
  margin-bottom: 12px;
}

.catalog_page__block-title {
  font-size: 16px;
  line-height: 1.5;
}

.catalog_page__block-price {
  font-size: 20px;
  line-height: 1.2;
}

.catalog_page__buy {
  height: 25px;
  padding: 0 18px;
}

.catalog_page__buy-text {
  font-size: 14px;
}

.catalog_page-pagination {
  margin-bottom: 0;
}

@media screen and (max-width: 1178px) {
  .catalog_page__block:nth-child(3n) {
    margin-right: 100px;
  }
}

@media screen and (max-width: 991px) {
  .popular_products {
    margin-top: -60px;
    margin-bottom: 114px;
    padding: 115px 0 50px 0;
  }

  .popular_products-bg {
    margin-left: 0;
  }

  .popular_products-title {
    margin-bottom: 47px;
  }

  .popular_products__block {
    width: 191px;
  }

  .popular_products__block-content {
    margin-bottom: 5px;
  }

  .popular_products__block-img {
    min-height: 150px;
    margin-bottom: 20px;
  }

  .popular_products__block-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .popular_products__block-price {
    font-size: 20px;
    line-height: 1.2;
  }

  .popular_products__buy {
    height: 22px;
    padding: 0 12px;
  }

  .popular_products__buy-text {
    font-size: 14px;
  }

  .catalog_page {
    padding-top: 56px;
  }

  .catalog_page-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalog_page-filter_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .catalog_page__sidebar {
    width: 100%;
    height: calc((var(--vh, 1vh) * 100) - 60px);
    margin: 0;
    position: fixed;
    top: 60px;
    left: -100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 3;
  }

  .catalog_page__sidebar.open {
    left: 0;
  }

  .catalog_page__sidebar-bg {
    display: block;
  }

  .catalog_page__categories {
    width: 100%;
    padding: 39px 20px;
    overflow: auto;
  }

  .catalog_page__categories::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
  }

  .catalog_page__categories::-webkit-scrollbar-thumb {
    background: #18A0FB;
  }

  .catalog_page__categories-block {
    margin-bottom: 69px;
  }

  .catalog_page__categories-btn.active {
    padding-bottom: 8px;
    margin-bottom: 23px;
  }

  .catalog_page__categories-btn span {
    font-size: 30px;
  }

  .catalog_page__categories-list {
    display: block;
  }

  .catalog_page__categories-item {
    margin-bottom: 11px;
  }

  .catalog_page__categories-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .catalog_page__content {
    margin: 0;
  }

  .catalog_page-box {
    margin-bottom: 58px;
  }

  .catalog_page-blocks {
    width: calc(100% + 78px);
    margin: -28px -39px;
  }

  .catalog_page__block {
    width: calc(33.33% - 78px);
    margin: 28px 39px;
  }

  .catalog_page__block:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .popular_products {
    padding: 93px 0 0 0;
  }

  .popular_products-title {
    margin-bottom: 65px;
  }

  .popular_products__block-img {
    min-height: auto;
    margin-bottom: 30px;
  }

  .popular_products__block-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .popular_products__block-price {
    font-size: 30px;
    line-height: 1;
  }

  .popular_products__buy {
    height: 34px;
    padding: 0 40px;
  }

  .popular_products__buy-text {
    font-size: 18px;
  }

  .catalog_page-filter_btn {
    height: 37px;
    margin-bottom: 78px;
  }

  .catalog_page__sidebar-bg--md {
    display: none;
  }

  .catalog_page__sidebar-bg--sm {
    display: block;
  }

  .catalog_page__categories-submit_btn {
    height: 40px;
    font-size: 18px;
    letter-spacing: 0;
    padding: 0 20px;
  }

  .catalog_page-blocks {
    width: calc(100% + 58px);
    margin: -37px -29px;
  }

  .catalog_page__block {
    width: calc(50% - 58px);
    margin: 37px 29px;
  }

  .catalog_page__block:nth-child(3n) {
    margin: 37px 29px;
  }

  .catalog_page__block-content {
    margin-bottom: 16px;
  }

  .catalog_page__block-img {
    margin-bottom: 16px;
  }

  .catalog_page__block-title {
    font-size: 18px;
    line-height: 1.5;
  }

  .catalog_page__block-price {
    font-size: 24px;
  }

  .catalog_page__buy {
    height: 30px;
    padding: 0 15px;
  }

  .catalog_page__buy-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .popular_products {
    padding: 83px 0 10px 0;
    margin-bottom: 53px;
  }

  .popular_products-bg {
    width: 621px;
    height: 34px;
    margin: 0;
    left: auto;
    right: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .popular_products-bg--desktop {
    display: none;
  }

  .popular_products-bg--mobile {
    display: block;
  }

  .popular_products-title {
    margin-bottom: 45px;
  }

  .popular_products__block-img {
    margin-bottom: 20px;
  }

  .popular_products__block-title {
    font-size: 16px;
  }

  .popular_products__block-price {
    font-size: 22px;
  }

  .popular_products__buy {
    height: 30px;
    padding: 0 20px;
  }

  .popular_products__buy-text {
    font-size: 16px;
  }

  .popular_products-mobile_slider.slick-initialized {
    padding-bottom: 50px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-content {
    max-width: 240px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-bottom {
    max-width: 240px;
  }

  .pagination-item {
    font-size: 14px;
    min-width: 16px;
    margin-right: 15px;
  }

  .catalog_page {
    padding-top: 40px;
  }

  .catalog_page-filter_btn {
    height: 36px;
    font-size: 16px;
    padding: 0 22px;
    margin-bottom: 43px;
  }

  .catalog_page__sidebar {
    height: calc((var(--vh, 1vh) * 100) - 40px);
    top: 40px;
  }

  .catalog_page__sidebar-bg--sm {
    display: none;
  }

  .catalog_page__sidebar-bg--xs {
    display: block;
  }

  .catalog_page__categories {
    padding: 43px 20px;
  }

  .catalog_page__categories-block {
    margin-bottom: 24px;
  }

  .catalog_page__categories-btn.active {
    padding-bottom: 5px;
    margin-bottom: 12px;
  }

  .catalog_page__categories-btn span {
    font-size: 20px;
  }

  .catalog_page__categories-item {
    margin-bottom: 7px;
  }

  .catalog_page__categories-submit_btn {
    height: 40px;
    font-size: 16px;
  }

  .catalog_page-box {
    margin-bottom: 40px;
  }

  .catalog_page-blocks {
    width: calc(100% + 36px);
    margin: -16px -18px;
  }

  .catalog_page__block {
    width: calc(50% - 36px);
    margin: 16px 18px;
  }

  .catalog_page__block:nth-child(3n) {
    margin: 16px 18px;
  }

  .catalog_page__block-price {
    font-size: 18px;
  }

  .catalog_page__buy {
    padding: 0 10px;
  }

  .catalog_page__buy-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .popular_products__block-title {
    font-size: 14px;
  }

  .popular_products__block-price {
    font-size: 18px;
  }

  .popular_products__buy {
    height: 25px;
  }

  .popular_products__buy-text {
    font-size: 14px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-content {
    max-width: 212px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-bottom {
    max-width: 212px;
  }

  .pagination-item {
    font-size: 12px;
    min-width: 13px;
  }

  .catalog_page-filter_btn {
    height: 30px;
    font-size: 14px;
  }

  .catalog_page__categories-submit_btn {
    font-size: 14px;
  }

  .catalog_page__block-price {
    font-size: 16px;
  }

  .catalog_page__buy-text {
    font-size: 12px;
  }
}