.unique_program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 720px;
  color: #fff;
  background: transparent;
  padding: 0 20px;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.unique_program-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2500px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 0;
}

.unique_program-bg img {
  width: 100%;
  height: 100%;
}

.unique_program-bg--desktop {
  display: block;
}

.unique_program-bg--mobile {
  display: none;
}

.unique_program-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  max-width: 602px;
  margin-top: -10px;
  position: relative;
  z-index: 1;
}

.unique_program-title {
  margin-bottom: 27px;
}

.unique_program-title:last-child {
  margin-bottom: 0;
}

.unique_program-title svg {
  fill: #fff;
}

.unique_program-description {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 29px;
}

.unique_program-description:last-child {
  margin-bottom: 0;
}

.unique_program__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 190px;
  height: 40px;
  border-radius: 30px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.unique_program__btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.unique_program__btn span {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.unique_program__btn .border {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.unique_program__btn .border path {
  visibility: hidden;
  opacity: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

.unique_program__btn.loading svg.border path {
  visibility: visible;
  opacity: 1;
  -webkit-transition: stroke-dashoffset 1s;
  -o-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
}

.popular_products {
  width: 100%;
  background: #F5F5F5;
  padding: 132px 0 88px 0;
  margin-top: -85px;
  margin-bottom: 110px;
  position: relative;
}

.popular_products-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4000px;
  height: 128px;
  margin-top: -20px;
  margin-left: -60px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.popular_products-bg svg {
  fill: #F5F5F5;
}

.popular_products-bg--desktop {
  display: block;
}

.popular_products-bg--mobile {
  display: none;
}

.popular_products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.popular_products-title {
  margin-bottom: 83px;
}

.popular_products-title:last-child {
  margin-bottom: 0;
}

.popular_products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.popular_products-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.popular_products__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 272px;
}

.popular_products__block-content {
  margin-bottom: 18px;
}

.popular_products__block-content:last-child {
  margin-bottom: 0;
}

.popular_products__block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.popular_products__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: 220px;
  margin-bottom: 30px;
}

.popular_products__block-img:last-child {
  margin-bottom: 0;
}

.popular_products__block-img img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.popular_products__block-title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.popular_products__block-title:last-child {
  margin-bottom: 0;
}

.popular_products__block-price {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
}

.popular_products__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 34px;
  color: #fff;
  border-radius: 20px;
  background: #18A0FB;
  padding: 0 40px;
}

.popular_products__buy:hover {
  background: #0099FF;
}

.popular_products__buy:active {
  background: #45B2FB;
}

.popular_products__buy-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.popular_products-mobile_slider.slick-initialized {
  width: calc(100% + 40px);
  padding-bottom: 66px;
  margin: 0 -20px;
}

.popular_products-mobile_slider.slick-initialized .slick-track {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular_products-mobile_slider.slick-initialized .popular_products__block-content {
  width: 100%;
  max-width: 273px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.popular_products-mobile_slider.slick-initialized .popular_products__block-bottom {
  width: 100%;
  max-width: 273px;
  margin: 0 auto;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li {
  margin-right: 5px;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li:last-child {
  margin-right: 0;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li.slick-active button {
  background: #000;
}

.popular_products-mobile_slider.slick-initialized ul.slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}

.blog_product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.blog_product-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: -15px;
}

.blog_product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(33.33% - 30px);
  margin: 15px;
}

.blog_product__block-img {
  width: 100%;
  margin-bottom: 13px;
}

.blog_product__block-img:last-child {
  margin-bottom: 0;
}

.blog_product__block-img img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.blog_product__block-categogy {
  display: none;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 10px;
}

.blog_product__block-categogy:last-child {
  margin-bottom: 0;
}

.blog_product__block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.blog_product__block-info:last-child {
  margin-bottom: 0;
}

.blog_product__block-info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog_product__block-info_item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 12px;
  line-height: 1.25;
  color: #555;
}

.blog_product__block-info_item span:before {
  content: "";
  display: block;
  background-color: #555;
  margin-right: 16px;
}

.blog_product__block-info_item span.time:before {
  width: 23px;
  height: 23px;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.553 13.531L12.3461 11.1258V6.22666C12.3461 5.73387 11.948 5.33586 11.4553 5.33586C10.9625 5.33586 10.5645 5.73387 10.5645 6.22666V11.5715C10.5645 11.8522 10.6961 12.1168 10.9207 12.2839L14.4839 14.9563C14.6443 15.0767 14.8311 15.1347 15.0176 15.1347C15.2893 15.1347 15.5566 15.0125 15.7309 14.7775C16.0269 14.3845 15.9465 13.8256 15.553 13.531Z' fill='black'/%3e%3cpath d='M11.5 0C5.15838 0 0 5.15838 0 11.5C0 17.8416 5.15838 23 11.5 23C17.8416 23 23 17.8416 23 11.5C23 5.15838 17.8416 0 11.5 0ZM11.5 21.2184C6.14217 21.2184 1.7816 16.8578 1.7816 11.5C1.7816 6.14217 6.14217 1.7816 11.5 1.7816C16.8587 1.7816 21.2184 6.14217 21.2184 11.5C21.2184 16.8578 16.8578 21.2184 11.5 21.2184Z' fill='black'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.553 13.531L12.3461 11.1258V6.22666C12.3461 5.73387 11.948 5.33586 11.4553 5.33586C10.9625 5.33586 10.5645 5.73387 10.5645 6.22666V11.5715C10.5645 11.8522 10.6961 12.1168 10.9207 12.2839L14.4839 14.9563C14.6443 15.0767 14.8311 15.1347 15.0176 15.1347C15.2893 15.1347 15.5566 15.0125 15.7309 14.7775C16.0269 14.3845 15.9465 13.8256 15.553 13.531Z' fill='black'/%3e%3cpath d='M11.5 0C5.15838 0 0 5.15838 0 11.5C0 17.8416 5.15838 23 11.5 23C17.8416 23 23 17.8416 23 11.5C23 5.15838 17.8416 0 11.5 0ZM11.5 21.2184C6.14217 21.2184 1.7816 16.8578 1.7816 11.5C1.7816 6.14217 6.14217 1.7816 11.5 1.7816C16.8587 1.7816 21.2184 6.14217 21.2184 11.5C21.2184 16.8578 16.8578 21.2184 11.5 21.2184Z' fill='black'/%3e%3c/svg%3e ");
}

.blog_product__block-info_item span.date:before {
  width: 25px;
  height: 25px;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.1439 2.91077H22.0892V0.856061C22.0892 0.382997 21.7062 0 21.2332 0C20.7601 0 20.3771 0.382997 20.3771 0.856061V2.91077H4.6229V0.856061C4.6229 0.382997 4.2399 0 3.76684 0C3.29377 0 2.91077 0.382997 2.91077 0.856061V2.91077H0.856061C0.382997 2.91077 0 3.29461 0 3.76684V24.1439C0 24.617 0.382997 25 0.856061 25H24.1439C24.617 25 25 24.617 25 24.1439V3.76684C25 3.29461 24.617 2.91077 24.1439 2.91077ZM2.91077 4.6229V6.67761C2.91077 7.15067 3.29377 7.53367 3.76684 7.53367C4.2399 7.53367 4.6229 7.15067 4.6229 6.67761V4.6229H20.3763V6.67761C20.3763 7.15067 20.7593 7.53367 21.2323 7.53367C21.7054 7.53367 22.0884 7.15067 22.0884 6.67761V4.6229H23.287V8.73232H1.71212V4.6229H2.91077ZM1.71212 23.2879V10.4453H23.2879V23.2879H1.71212Z' fill='black'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.1439 2.91077H22.0892V0.856061C22.0892 0.382997 21.7062 0 21.2332 0C20.7601 0 20.3771 0.382997 20.3771 0.856061V2.91077H4.6229V0.856061C4.6229 0.382997 4.2399 0 3.76684 0C3.29377 0 2.91077 0.382997 2.91077 0.856061V2.91077H0.856061C0.382997 2.91077 0 3.29461 0 3.76684V24.1439C0 24.617 0.382997 25 0.856061 25H24.1439C24.617 25 25 24.617 25 24.1439V3.76684C25 3.29461 24.617 2.91077 24.1439 2.91077ZM2.91077 4.6229V6.67761C2.91077 7.15067 3.29377 7.53367 3.76684 7.53367C4.2399 7.53367 4.6229 7.15067 4.6229 6.67761V4.6229H20.3763V6.67761C20.3763 7.15067 20.7593 7.53367 21.2323 7.53367C21.7054 7.53367 22.0884 7.15067 22.0884 6.67761V4.6229H23.287V8.73232H1.71212V4.6229H2.91077ZM1.71212 23.2879V10.4453H23.2879V23.2879H1.71212Z' fill='black'/%3e%3c/svg%3e ");
}

.blog_product__block-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #222;
  margin-bottom: 15px;
}

.blog_product__block-title:last-child {
  margin-bottom: 0;
}

.blog_product__block-description {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 11px;
}

.blog_product__block-description:last-child {
  margin-bottom: 0;
}

.blog_product-mobile_slider.slick-initialized {
  width: calc(100% + 40px);
  padding-bottom: 60px;
  margin: 0 -20px;
}

.blog_product-mobile_slider.slick-initialized .slick-track {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog_product-mobile_slider.slick-initialized .slick-list {
  padding-left: 20px;
}

.blog_product-mobile_slider.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  margin-right: 20px;
}

.blog_product-mobile_slider.slick-initialized .popular_products__block-content {
  width: 100%;
  max-width: 273px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.blog_product-mobile_slider.slick-initialized .popular_products__block-bottom {
  width: 100%;
  max-width: 273px;
  margin: 0 auto;
}

.blog_product-mobile_slider.slick-initialized ul.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog_product-mobile_slider.slick-initialized ul.slick-dots li {
  margin-right: 5px;
}

.blog_product-mobile_slider.slick-initialized ul.slick-dots li:last-child {
  margin-right: 0;
}

.blog_product-mobile_slider.slick-initialized ul.slick-dots li.slick-active button {
  background: #000;
}

.blog_product-mobile_slider.slick-initialized ul.slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}

.main_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 670px;
  background: #F1F2F6;
  position: relative;
  overflow: hidden;
}

.main_screen-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.main_screen-bg img {
  width: auto;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_screen-bg--mobile {
  display: none;
}

.main_screen-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  padding: 100px 0;
}

.main_screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  max-width: 485px;
  margin-top: -25px;
  position: relative;
  z-index: 1;
}

.main_screen-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.main_screen-title:last-child {
  margin-bottom: 0;
}

.main_screen-description {
  font-size: 20px;
  line-height: 1.5;
  padding-left: 3px;
  margin-bottom: 34px;
}

.main_screen-description:last-child {
  margin-bottom: 0;
}

.main_screen__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  min-width: 160px;
  height: 40px;
  border: 2px solid #18A0FB;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main_screen__btn:hover {
  color: #fff;
  background: #18A0FB;
}

.main_screen__btn-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.main_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 59px 0 132px 0;
}

.main_categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.main_categories-title {
  margin-bottom: 112px;
}

.main_categories-title:last-child {
  margin-bottom: 0;
}

.main_categories-box {
  width: 100%;
}

.main_categories-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 16px);
  margin: -50px -8px;
}

.main_categories__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(20% - 16px);
  margin: 50px 8px;
  position: relative;
}

.main_categories__block-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  position: relative;
  z-index: 1;
}

.main_categories__block.show:hover .main_categories__icon-el {
  opacity: 1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: main_categories_animate;
          animation-name: main_categories_animate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.main_categories__block.show .main_categories__icon-el {
  opacity: .3;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main_categories__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin-bottom: 35px;
  position: relative;
}

.main_categories__icon:last-child {
  margin-bottom: 0;
}

.main_categories__icon.position-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_categories__icon-img {
  position: relative;
  z-index: 1;
}

.main_categories__icon-img.img-1 {
  width: 92px;
  height: 92px;
}

.main_categories__icon-img.img-2 {
  width: 72px;
  height: 87px;
}

.main_categories__icon-img.img-3 {
  width: 65px;
  height: 99px;
}

.main_categories__icon-img.img-4 {
  width: 108px;
  height: 95px;
}

.main_categories__icon-img.img-5 {
  width: 95px;
  height: 99px;
}

.main_categories__icon-img.img-6 {
  width: 118px;
  height: 92px;
}

.main_categories__icon-img.img-7 {
  width: 88px;
  height: 91px;
}

.main_categories__icon-img.img-8 {
  width: 117px;
  height: 65px;
}

.main_categories__icon-img.img-9 {
  width: 87px;
  height: 98px;
}

.main_categories__icon-img.img-10 {
  width: 86px;
  height: 126px;
}

.main_categories__icon-el {
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(0, 200px);
      -ms-transform: translate(0, 200px);
          transform: translate(0, 200px);
  opacity: 0;
}

.main_categories__icon-el.color-1 {
  fill: #FFB7B8;
}

.main_categories__icon-el.color-2 {
  fill: #A9CAFF;
}

.main_categories__icon-el.color-3 {
  fill: #F3C2FF;
}

.main_categories__icon-el.color-4 {
  fill: #FFCCEB;
}

.main_categories__icon-el.color-5 {
  fill: #BCF9FF;
}

.main_categories__icon-el.color-6 {
  fill: #C9DDFF;
}

.main_categories__icon-el.color-7 {
  fill: #D9F1C0;
}

.main_categories__icon-el.color-8 {
  fill: #D9F0FF;
}

.main_categories__icon-el.color-9 {
  fill: #FFD8B4;
}

.main_categories__icon-el.color-10 {
  fill: #F7D5E9;
}

.main_categories__icon-el.position-1 {
  top: -10px;
  left: 22px;
}

.main_categories__icon-el.position-2 {
  top: 5px;
  left: -21px;
}

.main_categories__icon-el.position-3 {
  top: -12px;
  left: -16px;
}

.main_categories__icon-el.position-4 {
  top: -13px;
  left: 5px;
}

.main_categories__icon-el.position-5 {
  top: -22px;
  left: -3px;
}

.main_categories__icon-el.position-6 {
  top: -10px;
  left: 18px;
}

.main_categories__icon-el.position-7 {
  top: -4px;
  left: -13px;
}

.main_categories__icon-el.position-8 {
  top: -10px;
  left: -1px;
}

.main_categories__icon-el.position-9 {
  top: 7px;
  left: 10px;
}

.main_categories__icon-el.position-10 {
  top: -22px;
  left: -4px;
}

@-webkit-keyframes main_categories_animate {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }

  50% {
    -webkit-transform: translateX(-10px) scale(1.1);
            transform: translateX(-10px) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes main_categories_animate {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }

  50% {
    -webkit-transform: translateX(-10px) scale(1.1);
            transform: translateX(-10px) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

.last_news {
  width: 100%;
  padding: 20px 0 0 0;
  margin-bottom: 60px;
}

.last_news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.last_news-title {
  margin-bottom: 65px;
}

.last_news-title:last-child {
  margin-bottom: 0;
}

.reviews {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 125px;
  margin-bottom: -67px;
  position: relative;
  z-index: 2;
}

.reviews-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4000px;
  height: 870px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 0;
}

.reviews-bg--desktop {
  display: block;
}

.reviews-bg--md {
  display: none;
}

.reviews-bg--sm {
  display: none;
}

.reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  position: relative;
  z-index: 1;
}

.reviews-title {
  margin-bottom: 65px;
}

.reviews-title:last-child {
  margin-bottom: 0;
}

.reviews-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  overflow: hidden;
}

.reviews-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% + 140px);
  padding-bottom: 90px;
  margin: 0 -70px;
}

.reviews-blocks.slick-initialized ul.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.reviews-blocks.slick-initialized ul.slick-dots li {
  margin-right: 23px;
}

.reviews-blocks.slick-initialized ul.slick-dots li:last-child {
  margin-right: 0;
}

.reviews-blocks.slick-initialized ul.slick-dots li.slick-active button {
  font-weight: 600;
  color: #222222;
  border-bottom-color: #222222;
}

.reviews-blocks.slick-initialized ul.slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 18px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #555555;
  border-bottom: 1px solid transparent;
  padding: 0;
  padding-bottom: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.reviews-blocks.slick-initialized ul.slick-dots li button:hover {
  color: #222222;
}

.reviews__block {
  display: block;
  width: calc(33.33% - 140px);
  margin: 0 70px;
}

.reviews__block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.reviews__block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 27px;
}

.reviews__block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.reviews__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 212px;
  margin-bottom: 25px;
}

.reviews__block-img:last-child {
  margin-bottom: 0;
}

.reviews__block-img img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.reviews__block-title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
}

.reviews__block-title:last-child {
  margin-bottom: 0;
}

.reviews__block-text {
  font-size: 14px;
  line-height: 1.5;
}

.reviews__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17px;
}

.reviews__rating:last-child {
  margin-bottom: 0;
}

.reviews__rating.color-dark .reviews__rating-star.active:after {
  background-color: #FFC514;
}

.reviews__rating.color-dark .reviews__rating-star:after {
  background-color: #999;
}

.reviews__rating-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.reviews__rating-star:last-child {
  margin-right: 0;
}

.reviews__rating-star.active:after {
  background-color: #FFC514;
}

.reviews__rating-star:after {
  content: "";
  width: 16px;
  height: 15px;
  background-color: #BDBDBD;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.52325 0.970703L9.84852 5.57917L15.0482 6.31787L11.2849 9.90559L12.1738 14.9707L7.52325 12.58L2.87442 14.9707L3.76163 9.90559L0 6.31787L5.19969 5.57917L7.52325 0.970703Z' fill='%23FFC514'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.52325 0.970703L9.84852 5.57917L15.0482 6.31787L11.2849 9.90559L12.1738 14.9707L7.52325 12.58L2.87442 14.9707L3.76163 9.90559L0 6.31787L5.19969 5.57917L7.52325 0.970703Z' fill='%23FFC514'/%3e%3c/svg%3e ");
}

@media screen and (max-width: 1178px) {
  .main_screen-bg img {
    margin-right: -270px;
  }
}

@media screen and (max-width: 991px) {
  .unique_program {
    height: 550px;
  }

  .unique_program-bg {
    width: 100%;
  }

  .unique_program-bg--desktop {
    display: none;
  }

  .unique_program-bg--mobile {
    display: block;
  }

  .unique_program-content {
    max-width: 100%;
    margin-top: 20px;
  }

  .unique_program-title {
    width: 100%;
    margin-bottom: 19px;
  }

  .unique_program-title svg {
    width: 100%;
    height: auto;
  }

  .unique_program-description {
    margin-bottom: 38px;
  }

  .popular_products {
    margin-top: -60px;
    margin-bottom: 114px;
    padding: 115px 0 50px 0;
  }

  .popular_products-bg {
    margin-left: 0;
  }

  .popular_products-title {
    margin-bottom: 47px;
  }

  .popular_products__block {
    width: 191px;
  }

  .popular_products__block-content {
    margin-bottom: 5px;
  }

  .popular_products__block-img {
    min-height: 150px;
    margin-bottom: 20px;
  }

  .popular_products__block-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .popular_products__block-price {
    font-size: 20px;
    line-height: 1.2;
  }

  .popular_products__buy {
    height: 22px;
    padding: 0 12px;
  }

  .popular_products__buy-text {
    font-size: 14px;
  }

  .blog_product-blocks {
    width: calc(100% + 20px);
    margin: -10px;
  }

  .blog_product__block {
    display: none;
    width: calc(50% - 20px);
    margin: 10px;
  }

  .blog_product__block:nth-child(1),
  .blog_product__block:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .blog_product__block-img {
    margin-bottom: 15px;
  }

  .blog_product__block-info_item span {
    font-size: 16px;
  }

  .blog_product__block-title {
    margin-bottom: 20px;
  }

  .blog_product__block-description {
    font-size: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .main_screen {
    min-height: auto;
  }

  .main_screen-bg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main_screen-bg img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .main_screen-bg--desktop {
    display: none;
  }

  .main_screen-bg--mobile {
    display: block;
  }

  .main_screen-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px 0 524px 0;
  }

  .main_screen-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 522px;
    margin: 0;
  }

  .main_screen-title {
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 27px;
  }

  .main_screen-description {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }

  .main_screen__btn {
    height: 35px;
    border-width: 3px;
    text-transform: uppercase;
  }

  .main_categories {
    padding: 57px 0;
  }

  .main_categories-title {
    margin-bottom: 55px;
  }

  .main_categories-blocks {
    width: calc(100% + 110px);
    margin: -20px -55px;
  }

  .main_categories__block {
    width: calc(25% - 110px);
    margin: 20px 55px;
  }

  .main_categories__block-title {
    font-size: 16px;
    line-height: 1.2;
  }

  .main_categories__icon {
    height: 84px;
    margin-bottom: 16px;
  }

  .main_categories__icon-img.img-1 {
    width: 78px;
    height: 78px;
  }

  .main_categories__icon-img.img-2 {
    width: 61px;
    height: 74px;
  }

  .main_categories__icon-img.img-3 {
    width: 55px;
    height: 84px;
  }

  .main_categories__icon-img.img-4 {
    width: 92px;
    height: 81px;
  }

  .main_categories__icon-img.img-5 {
    width: 63px;
    height: 65px;
  }

  .main_categories__icon-img.img-6 {
    width: 78px;
    height: 60px;
  }

  .main_categories__icon-img.img-7 {
    width: 59px;
    height: 60px;
  }

  .main_categories__icon-img.img-8 {
    width: 77px;
    height: 43px;
  }

  .main_categories__icon-img.img-9 {
    width: 58px;
    height: 65px;
  }

  .main_categories__icon-img.img-10 {
    width: 57px;
    height: 83px;
  }

  .last_news {
    margin-bottom: 35px;
  }

  .last_news-title {
    margin-bottom: 56px;
  }

  .reviews {
    padding-top: 100px;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .reviews-bg {
    width: 100%;
    height: 100%;
  }

  .reviews-bg img {
    width: 100%;
    height: 100%;
  }

  .reviews-bg--desktop {
    display: none;
  }

  .reviews-bg--md {
    display: block;
  }

  .reviews-title {
    margin-bottom: 50px;
  }

  .reviews-blocks {
    width: calc(100% + 86px);
    padding-bottom: 85px;
    margin: 0 -43px;
  }

  .reviews-blocks.slick-initialized ul.slick-dots li button {
    font-size: 18px;
  }

  .reviews__block {
    width: calc(33.33% - 86px);
    margin: 0 43px;
  }

  .reviews__block-content {
    margin-bottom: 8px;
  }

  .reviews__block-img {
    min-height: 150px;
    margin-bottom: 13px;
  }

  .reviews__block-title {
    font-size: 16px;
    line-height: 1.2;
  }

  .reviews__block-text {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .reviews__rating {
    margin-bottom: 8px;
  }

  .reviews__rating-star {
    margin-right: 2px;
  }

  .reviews__rating-star:after {
    width: 10px;
    height: 10px;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.17204 0.433594L6.60309 3.26979L9.80208 3.72441L7.48706 5.93241L8.03413 9.04964L5.17204 7.57833L2.311 9.04964L2.85702 5.93241L0.541992 3.72441L3.74099 3.26979L5.17204 0.433594Z' fill='%23BDBDBD'/%3e%3c/svg%3e ");
            mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.17204 0.433594L6.60309 3.26979L9.80208 3.72441L7.48706 5.93241L8.03413 9.04964L5.17204 7.57833L2.311 9.04964L2.85702 5.93241L0.541992 3.72441L3.74099 3.26979L5.17204 0.433594Z' fill='%23BDBDBD'/%3e%3c/svg%3e ");
  }
}

@media screen and (max-width: 767px) {
  .unique_program {
    height: 486px;
  }

  .unique_program-bg {
    width: 768px;
    min-width: 100%;
  }

  .unique_program-content {
    margin-top: -36px;
  }

  .unique_program-title {
    margin-bottom: 21px;
  }

  .unique_program-description {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .popular_products {
    padding: 93px 0 0 0;
  }

  .popular_products-title {
    margin-bottom: 65px;
  }

  .popular_products__block-img {
    min-height: auto;
    margin-bottom: 30px;
  }

  .popular_products__block-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .popular_products__block-price {
    font-size: 30px;
    line-height: 1;
  }

  .popular_products__buy {
    height: 34px;
    padding: 0 40px;
  }

  .popular_products__buy-text {
    font-size: 18px;
  }

  .blog_product__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 20px);
  }

  .blog_product__block-title {
    font-size: 30px;
  }

  .blog_product__block-description {
    display: block;
    font-size: 18px;
  }

  .main_screen-wrap {
    padding: 72px 0 340px 0;
  }

  .main_screen-content {
    max-width: 378px;
  }

  .main_screen-title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .main_screen-description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  .main_screen__btn {
    min-width: 180px;
    height: 40px;
    letter-spacing: 1.5px;
  }

  .main_categories-title {
    margin-bottom: 50px;
  }

  .main_categories-blocks {
    width: calc(100% + 30px);
    margin: -30px -15px;
  }

  .main_categories__block {
    width: calc(50% - 30px);
    margin: 30px 15px;
  }

  .main_categories__icon {
    height: 91px;
    margin-bottom: 20px;
  }

  .main_categories__icon-img.img-1 {
    width: 85px;
    height: 85px;
  }

  .main_categories__icon-img.img-2 {
    width: 66px;
    height: 80px;
  }

  .main_categories__icon-img.img-3 {
    width: 60px;
    height: 91px;
  }

  .main_categories__icon-img.img-4 {
    width: 100px;
    height: 88px;
  }

  .main_categories__icon-img.img-5 {
    width: 87px;
    height: 91px;
  }

  .main_categories__icon-img.img-6 {
    width: 109px;
    height: 85px;
  }

  .main_categories__icon-img.img-7 {
    width: 82px;
    height: 84px;
  }

  .main_categories__icon-img.img-8 {
    width: 108px;
    height: 60px;
  }

  .main_categories__icon-img.img-9 {
    width: 80px;
    height: 90px;
  }

  .main_categories__icon-img.img-10 {
    width: 79px;
    height: 116px;
  }

  .reviews {
    padding-top: 87px;
  }

  .reviews-bg--md {
    display: none;
  }

  .reviews-bg--sm {
    display: block;
  }

  .reviews-title {
    margin-bottom: 40px;
  }

  .reviews-box {
    overflow: visible;
  }

  .reviews-blocks {
    width: calc(100% + 40px);
    padding-bottom: 42px;
    margin: 0 -20px;
  }

  .reviews-blocks.slick-initialized .slick-track {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .reviews-blocks.slick-initialized ul.slick-dots li {
    margin-right: 5px;
  }

  .reviews-blocks.slick-initialized ul.slick-dots li.slick-active button {
    background: #000;
  }

  .reviews-blocks.slick-initialized ul.slick-dots li button {
    width: 10px;
    min-width: 10px;
    height: 10px;
    font-size: 0;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 0;
  }

  .reviews__block {
    width: 100%;
    margin: 0;
  }

  .reviews__block-wrap {
    width: 100%;
    max-width: 285px;
    margin: 0 auto;
  }

  .reviews__block-content {
    margin-bottom: 20px;
  }

  .reviews__block-img {
    min-height: auto;
    margin-bottom: 24px;
  }

  .reviews__block-title {
    font-size: 20px;
  }

  .reviews__block-text {
    display: block;
    overflow: visible;
  }

  .reviews__rating {
    margin-bottom: 17px;
  }

  .reviews__rating-star:after {
    width: 16px;
    height: 15px;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.52325 0.525391L9.84852 5.13386L15.0482 5.87255L11.2849 9.46028L12.1738 14.5254L7.52325 12.1347L2.87442 14.5254L3.76163 9.46028L0 5.87255L5.19969 5.13386L7.52325 0.525391Z' fill='%23FFC514'/%3e%3c/svg%3e ");
            mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.52325 0.525391L9.84852 5.13386L15.0482 5.87255L11.2849 9.46028L12.1738 14.5254L7.52325 12.1347L2.87442 14.5254L3.76163 9.46028L0 5.87255L5.19969 5.13386L7.52325 0.525391Z' fill='%23FFC514'/%3e%3c/svg%3e ");
  }
}

@media screen and (max-width: 480px) {
  .unique_program {
    height: 440px;
  }

  .unique_program-content {
    margin-top: -47px;
  }

  .unique_program-description {
    font-size: 14px;
    margin-bottom: 26px;
  }

  .popular_products {
    padding: 83px 0 10px 0;
    margin-bottom: 53px;
  }

  .popular_products-bg {
    width: 621px;
    height: 34px;
    margin: 0;
    left: auto;
    right: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .popular_products-bg--desktop {
    display: none;
  }

  .popular_products-bg--mobile {
    display: block;
  }

  .popular_products-title {
    margin-bottom: 45px;
  }

  .popular_products__block-img {
    margin-bottom: 20px;
  }

  .popular_products__block-title {
    font-size: 16px;
  }

  .popular_products__block-price {
    font-size: 22px;
  }

  .popular_products__buy {
    height: 30px;
    padding: 0 20px;
  }

  .popular_products__buy-text {
    font-size: 16px;
  }

  .popular_products-mobile_slider.slick-initialized {
    padding-bottom: 50px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-content {
    max-width: 240px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-bottom {
    max-width: 240px;
  }

  .blog_product__block-img {
    margin-bottom: 8px;
  }

  .blog_product__block-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .blog_product__block-categogy {
    display: block;
  }

  .blog_product__block-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .blog_product__block-info_item span {
    font-size: 14px;
  }

  .blog_product__block-info_item span.time:before {
    width: 25px;
    height: 25px;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.2748 14.6193L12.919 12.1096V6.9974C12.919 6.48318 12.5025 6.06787 11.9868 6.06787C11.4712 6.06787 11.0547 6.48318 11.0547 6.9974V12.5746C11.0547 12.8676 11.1924 13.1437 11.4275 13.318L15.1561 16.1066C15.3239 16.2322 15.5194 16.2927 15.7145 16.2927C15.9989 16.2927 16.2786 16.1652 16.461 15.9201C16.7708 15.5099 16.6866 14.9268 16.2748 14.6193Z' fill='%23555555'/%3e%3cpath d='M12.0339 0.5C5.39785 0.5 0 5.88266 0 12.5C0 19.1173 5.39785 24.5 12.0339 24.5C18.6699 24.5 24.0677 19.1173 24.0677 12.5C24.0677 5.88266 18.6699 0.5 12.0339 0.5ZM12.0339 22.6409C6.42731 22.6409 1.86431 18.0908 1.86431 12.5C1.86431 6.90922 6.42731 2.35906 12.0339 2.35906C17.6414 2.35906 22.2034 6.90922 22.2034 12.5C22.2034 18.0908 17.6404 22.6409 12.0339 22.6409Z' fill='%23555555'/%3e%3c/svg%3e ");
            mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.2748 14.6193L12.919 12.1096V6.9974C12.919 6.48318 12.5025 6.06787 11.9868 6.06787C11.4712 6.06787 11.0547 6.48318 11.0547 6.9974V12.5746C11.0547 12.8676 11.1924 13.1437 11.4275 13.318L15.1561 16.1066C15.3239 16.2322 15.5194 16.2927 15.7145 16.2927C15.9989 16.2927 16.2786 16.1652 16.461 15.9201C16.7708 15.5099 16.6866 14.9268 16.2748 14.6193Z' fill='%23555555'/%3e%3cpath d='M12.0339 0.5C5.39785 0.5 0 5.88266 0 12.5C0 19.1173 5.39785 24.5 12.0339 24.5C18.6699 24.5 24.0677 19.1173 24.0677 12.5C24.0677 5.88266 18.6699 0.5 12.0339 0.5ZM12.0339 22.6409C6.42731 22.6409 1.86431 18.0908 1.86431 12.5C1.86431 6.90922 6.42731 2.35906 12.0339 2.35906C17.6414 2.35906 22.2034 6.90922 22.2034 12.5C22.2034 18.0908 17.6404 22.6409 12.0339 22.6409Z' fill='%23555555'/%3e%3c/svg%3e ");
  }

  .blog_product__block-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .blog_product__block-description {
    font-size: 14px;
  }

  .blog_product-mobile_slider.slick-initialized {
    padding-bottom: 47px;
  }

  .main_screen-bg {
    top: auto;
    bottom: -40px;
  }

  .main_screen-wrap {
    padding: 33px 0 258px 0;
  }

  .main_screen-content {
    max-width: 100%;
  }

  .main_screen-title {
    font-size: 28px;
    margin-bottom: 22px;
  }

  .main_screen-description {
    font-size: 14px;
    margin-bottom: 23px;
  }

  .main_screen__btn {
    min-width: 136px;
    height: 36px;
    letter-spacing: 0;
  }

  .main_screen__btn-text {
    font-size: 16px;
  }

  .main_categories {
    padding: 41px 0 38px 0;
  }

  .main_categories-title {
    margin-bottom: 35px;
  }

  .main_categories-blocks {
    margin: -13px -15px;
  }

  .main_categories__block {
    padding: 0 20px;
    margin: 13px 15px;
  }

  .main_categories__block-title {
    font-size: 15px;
  }

  .main_categories__icon {
    height: 70px;
    margin-bottom: 15px;
  }

  .main_categories__icon-img.img-1 {
    width: 65px;
    height: 65px;
  }

  .main_categories__icon-img.img-2 {
    width: 51px;
    height: 61px;
  }

  .main_categories__icon-img.img-3 {
    width: 46px;
    height: 70px;
  }

  .main_categories__icon-img.img-4 {
    width: 76px;
    height: 67px;
  }

  .main_categories__icon-img.img-5 {
    width: 67px;
    height: 68px;
  }

  .main_categories__icon-img.img-6 {
    width: 83px;
    height: 65px;
  }

  .main_categories__icon-img.img-7 {
    width: 63px;
    height: 64px;
  }

  .main_categories__icon-img.img-8 {
    width: 82px;
    height: 46px;
  }

  .main_categories__icon-img.img-9 {
    width: 61px;
    height: 69px;
  }

  .main_categories__icon-img.img-10 {
    width: 61px;
    height: 88px;
  }

  .last_news {
    margin-bottom: 50px;
  }

  .last_news-title {
    margin-bottom: 40px;
  }

  .reviews {
    padding-top: 48px;
  }

  .reviews-title {
    margin-bottom: 44px;
  }

  .reviews-blocks {
    padding-bottom: 48px;
  }

  .reviews__block-wrap {
    max-width: 240px;
  }

  .reviews__block-img {
    margin-bottom: 26px;
  }

  .reviews__block-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  .unique_program-description {
    font-size: 12px;
  }

  .popular_products__block-title {
    font-size: 14px;
  }

  .popular_products__block-price {
    font-size: 18px;
  }

  .popular_products__buy {
    height: 25px;
  }

  .popular_products__buy-text {
    font-size: 14px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-content {
    max-width: 212px;
  }

  .popular_products-mobile_slider.slick-initialized .popular_products__block-bottom {
    max-width: 212px;
  }

  .blog_product__block-categogy {
    font-size: 12px;
  }

  .blog_product__block-info_item span {
    font-size: 12px;
  }

  .blog_product__block-title {
    font-size: 18px;
  }

  .blog_product__block-description {
    font-size: 12px;
  }

  .main_screen-bg {
    bottom: 0;
  }

  .main_screen-title {
    font-size: 24px;
  }

  .main_screen-description {
    font-size: 12px;
  }

  .main_categories__block-title {
    font-size: 14px;
  }

  .reviews__block-wrap {
    max-width: 212px;
  }

  .reviews__block-title {
    font-size: 15px;
  }

  .reviews__block-text {
    font-size: 12px;
  }
}