.ui-selectmenu-button.ui-button.personal_account__filter-select-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 37px;
  border: 1px solid #A9A8A8;
  border-radius: 6px;
  background: transparent;
  padding: 0 14px;
  padding-right: 44px;
}

.ui-selectmenu-button.ui-button.personal_account__filter-select-button.ui-selectmenu-button-open .ui-selectmenu-icon {
  -webkit-transform: translate(0, -50%) rotate(-180deg);
      -ms-transform: translate(0, -50%) rotate(-180deg);
          transform: translate(0, -50%) rotate(-180deg);
}

.ui-selectmenu-button.ui-button.personal_account__filter-select-button.selected .ui-selectmenu-text {
  color: #000;
}

.ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-icon {
  width: 16px;
  height: 9px;
  background: none;
  background-color: #18A0FB;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L8 8L15 1' stroke='%2318A0FB'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L8 8L15 1' stroke='%2318A0FB'/%3e%3c/svg%3e ");
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  margin: 0;
}

.ui-selectmenu-button.ui-button.creation_of_appeal-select-button {
  border-color: #222;
}

.ui-selectmenu-button.ui-button.creation_of_appeal-select-button .ui-selectmenu-icon {
  background-color: #222;
}

.ui-selectmenu-button.ui-button.creation_of_appeal-select-button.selected .ui-selectmenu-text {
  color: #222;
}

.ui-selectmenu-button.ui-button.creation_of_appeal-select-button .ui-selectmenu-text {
  color: #555;
}

.ui-selectmenu-button.ui-button.personal_data__item-select-button {
  height: 30px;
  border-color: #555;
  padding-left: 10px;
}

.ui-selectmenu-button.ui-button.personal_data__item-select-button .ui-selectmenu-text {
  color: #222;
}

.ui-selectmenu-button.ui-button.personal_data__item-select-button .ui-selectmenu-icon {
  width: 14px;
  height: 8px;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L7 7L13 1' stroke='%23222222'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L7 7L13 1' stroke='%23222222'/%3e%3c/svg%3e ");
  right: 13px;
}

.ui-selectmenu-button.ui-button.ordering_page__radio-select-button {
  height: 40px;
  padding-left: 10px;
}

.ui-selectmenu-button.ui-button.ordering_page__radio-select-button .ui-selectmenu-icon {
  background-color: #222;
  right: 14px;
}

.ui-selectmenu-menu.personal_account__filter-select-menu {
  border: none;
  border-radius: 0;
  padding-top: 5px;
}

.ui-selectmenu-menu.personal_account__filter-select-menu .ui-widget.ui-widget-content {
  border: 1px solid #A9A8A8;
  border-radius: 6px;
  padding: 0;
}

.ui-selectmenu-menu.personal_account__filter-select-menu .ui-menu-item-wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  border: none;
  background: #fff;
  padding: 8px 14px;
  margin: 0;
}

.ui-selectmenu-menu.personal_account__filter-select-menu .ui-menu-item-wrapper.ui-state-active {
  color: #fff;
  background: #18A0FB;
  border: none;
}

.ui-selectmenu-menu.personal_account__filter-select-menu .ui-menu-item {
  list-style-image: none;
}

.ui-selectmenu-menu.creation_of_appeal-select-menu .ui-widget.ui-widget-content {
  border-color: #222;
}

.ui-selectmenu-menu.personal_data__item-select-menu .ui-menu-item-wrapper {
  color: #222;
  padding: 7px 10px;
}

.ui-selectmenu-menu.ordering_page__radio-select-menu .ui-menu-item-wrapper {
  padding: 10px;
}

.ui-datepicker {
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.ui-datepicker.ui-widget.ui-widget-content {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0;
  margin-top: 5px;
  overflow: hidden;
}

.ui-datepicker .ui-datepicker-header {
  border: none;
  border-radius: 0;
  padding: 0;
}

.ui-datepicker .ui-datepicker-month,
.ui-datepicker .ui-datepicker-year {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}

.ui-datepicker .ui-datepicker-calendar {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
}

.ui-datepicker th {
  font-weight: 600;
  padding: 8px 0;
}

.ui-datepicker .ui-datepicker-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background: #18A0FB;
  padding: 0;
  margin: 0;
}

.ui-datepicker td {
  padding: 0;
}

.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default,
.ui-datepicker .ui-button {
  border: none;
  background: transparent;
}

.ui-datepicker .ui-state-active,
.ui-datepicker a.ui-button:active,
.ui-datepicker .ui-button:active,
.ui-datepicker .ui-button.ui-state-active:hover {
  color: #fff;
  background: #18A0FB;
}

.ui-datepicker td span,
.ui-datepicker td a {
  padding: 5px;
  text-align: center;
  border-radius: 6px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  background: transparent;
  border: none;
}

.ui-datepicker .ui-datepicker-prev:after,
.ui-datepicker .ui-datepicker-next:after {
  content: "";
  display: block;
  width: 9px;
  height: 14px;
  background-color: #fff;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.238655 6.45579L6.83882 0.2253C7.15702 -0.0750999 7.67322 -0.0750999 7.99142 0.2253L8.7613 0.952094C9.07917 1.25217 9.07951 1.7382 8.76266 2.03892L3.53177 6.99984L8.76232 11.9611C9.07951 12.2618 9.07883 12.7478 8.76096 13.0479L7.99108 13.7747C7.67288 14.0751 7.15668 14.0751 6.83848 13.7747L0.238655 7.54389C-0.0795517 7.24349 -0.0795517 6.75619 0.238655 6.45579Z' fill='black'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.238655 6.45579L6.83882 0.2253C7.15702 -0.0750999 7.67322 -0.0750999 7.99142 0.2253L8.7613 0.952094C9.07917 1.25217 9.07951 1.7382 8.76266 2.03892L3.53177 6.99984L8.76232 11.9611C9.07951 12.2618 9.07883 12.7478 8.76096 13.0479L7.99108 13.7747C7.67288 14.0751 7.15668 14.0751 6.83848 13.7747L0.238655 7.54389C-0.0795517 7.24349 -0.0795517 6.75619 0.238655 6.45579Z' fill='black'/%3e%3c/svg%3e ");
}

.ui-datepicker .ui-datepicker-prev {
  left: 10px;
}

.ui-datepicker .ui-datepicker-next {
  right: 10px;
}

.ui-datepicker .ui-datepicker-next:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.ordering_page {
  width: 100%;
  padding: 40px 0 0 0;
}

.ordering_page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}

.ordering_page-main {
  width: calc(100% - 343px - 52px);
}

.ordering_page-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: #222;
  margin-bottom: 40px;
}

.ordering_page-title:last-child {
  margin-bottom: 0;
}

.ordering_page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 24px;
}

.ordering_page__block:last-child {
  margin-bottom: 0;
}

.ordering_page__block.mb40 {
  margin-bottom: 40px;
}

.ordering_page__block.mb40:last-child {
  margin-bottom: 0;
}

.ordering_page__block-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 44px;
}

.ordering_page__block-head.mb12 {
  margin-bottom: 12px;
}

.ordering_page__block-head.mb12:last-child {
  margin-bottom: 0;
}

.ordering_page__block-head.mb16 {
  margin-bottom: 16px;
}

.ordering_page__block-head.mb16:last-child {
  margin-bottom: 0;
}

.ordering_page__block-head.mb24 {
  margin-bottom: 24px;
}

.ordering_page__block-head.mb24:last-child {
  margin-bottom: 0;
}

.ordering_page__block-head.mb40 {
  margin-bottom: 40px;
}

.ordering_page__block-head.mb40:last-child {
  margin-bottom: 0;
}

.ordering_page__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ordering_page__block-title.number p:before {
  content: counter(counter);
}

.ordering_page__block-title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 8px;
}

.ordering_page__block-title p:last-child {
  margin-right: 0;
}

.ordering_page__block-title p:before {
  content: "!";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background: #E2E1E1;
  margin-top: -1px;
  margin-right: 8px;
}

.ordering_page__block-title span.geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #18A0FB;
}

.ordering_page__block-title span.geo:before {
  content: "";
  display: block;
  width: 11px;
  height: 13px;
  background-color: #18A0FB;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.32138 0C2.37927 0 0 2.39051 0 5.34652C0 8.29609 5.32138 13 5.32138 13C5.32138 13 10.6364 8.29609 10.6364 5.34652C10.6364 2.39051 8.25709 0 5.32138 0ZM8.22511 5.04449C8.22511 6.64459 6.93314 7.94909 5.33417 7.94909C3.7416 7.94909 2.44323 6.64459 2.44323 5.04449C2.44323 3.44439 3.7416 2.13989 5.33417 2.13989C6.93314 2.13989 8.22511 3.44439 8.22511 5.04449Z' fill='%2318A0FB'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.32138 0C2.37927 0 0 2.39051 0 5.34652C0 8.29609 5.32138 13 5.32138 13C5.32138 13 10.6364 8.29609 10.6364 5.34652C10.6364 2.39051 8.25709 0 5.32138 0ZM8.22511 5.04449C8.22511 6.64459 6.93314 7.94909 5.33417 7.94909C3.7416 7.94909 2.44323 6.64459 2.44323 5.04449C2.44323 3.44439 3.7416 2.13989 5.33417 2.13989C6.93314 2.13989 8.22511 3.44439 8.22511 5.04449Z' fill='%2318A0FB'/%3e%3c/svg%3e ");
  margin-top: -2px;
  margin-right: 8px;
}

.ordering_page__block-editing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ordering_page__block-editing:hover span {
  color: #0099FF;
}

.ordering_page__block-editing:hover span:before {
  background-color: #0099FF;
}

.ordering_page__block-editing:active span {
  color: #45B2FB;
}

.ordering_page__block-editing:active span:before {
  background-color: #45B2FB;
}

.ordering_page__block-editing span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #18A0FB;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.ordering_page__block-editing span:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #18A0FB;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M10.6814 3.78093C10.3993 3.49398 10.3993 3.02951 10.6814 2.74256C10.9635 2.45561 11.4202 2.45561 11.7023 2.74256L14.4964 5.58473C14.7785 5.87169 14.7785 6.33615 14.4964 6.62311C14.3554 6.76658 14.171 6.83799 13.986 6.83799C13.801 6.83799 13.6166 6.76658 13.4756 6.62311L10.6814 3.78093Z' fill='%2318A0FB'/%3e%3cpath d='M19.2783 18.5312H0.721666C0.323438 18.5312 0 18.8596 0 19.2653C0 19.6711 0.323438 19.9994 0.721666 19.9994H19.2783C19.6772 19.9994 20 19.6711 20 19.2653C20 18.8596 19.6772 18.5312 19.2783 18.5312Z' fill='%2318A0FB'/%3e%3cpath d='M16.9712 3.05689L14.177 0.214715C13.8956 -0.0715716 13.4383 -0.0715716 13.1568 0.214715L2.06745 11.4947C1.97691 11.5868 1.91262 11.7015 1.87981 11.8277L0.883913 15.6822C0.818963 15.9344 0.890473 16.2034 1.07155 16.3876C1.20866 16.527 1.39302 16.6031 1.58196 16.6031C1.64363 16.6031 1.7053 16.5951 1.76566 16.5784L5.55506 15.5654C5.67906 15.5327 5.7919 15.4666 5.88244 15.3752L16.9712 4.09526C17.107 3.95712 17.1831 3.77094 17.1831 3.57608C17.1831 3.38121 17.107 3.19436 16.9712 3.05689ZM4.99938 14.196L2.59426 14.8393L3.22605 12.3922L13.6672 1.77227L15.4406 3.57608L4.99938 14.196Z' fill='%2318A0FB'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M10.6814 3.78093C10.3993 3.49398 10.3993 3.02951 10.6814 2.74256C10.9635 2.45561 11.4202 2.45561 11.7023 2.74256L14.4964 5.58473C14.7785 5.87169 14.7785 6.33615 14.4964 6.62311C14.3554 6.76658 14.171 6.83799 13.986 6.83799C13.801 6.83799 13.6166 6.76658 13.4756 6.62311L10.6814 3.78093Z' fill='%2318A0FB'/%3e%3cpath d='M19.2783 18.5312H0.721666C0.323438 18.5312 0 18.8596 0 19.2653C0 19.6711 0.323438 19.9994 0.721666 19.9994H19.2783C19.6772 19.9994 20 19.6711 20 19.2653C20 18.8596 19.6772 18.5312 19.2783 18.5312Z' fill='%2318A0FB'/%3e%3cpath d='M16.9712 3.05689L14.177 0.214715C13.8956 -0.0715716 13.4383 -0.0715716 13.1568 0.214715L2.06745 11.4947C1.97691 11.5868 1.91262 11.7015 1.87981 11.8277L0.883913 15.6822C0.818963 15.9344 0.890473 16.2034 1.07155 16.3876C1.20866 16.527 1.39302 16.6031 1.58196 16.6031C1.64363 16.6031 1.7053 16.5951 1.76566 16.5784L5.55506 15.5654C5.67906 15.5327 5.7919 15.4666 5.88244 15.3752L16.9712 4.09526C17.107 3.95712 17.1831 3.77094 17.1831 3.57608C17.1831 3.38121 17.107 3.19436 16.9712 3.05689ZM4.99938 14.196L2.59426 14.8393L3.22605 12.3922L13.6672 1.77227L15.4406 3.57608L4.99938 14.196Z' fill='%2318A0FB'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='20' height='20' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 8px;
}

.ordering_page__block-note {
  border-radius: 6px;
  background: #FFE8E7;
  padding: 14px 44px 14px 34px;
  margin-bottom: 24px;
}

.ordering_page__block-note:last-child {
  margin-bottom: 0;
}

.ordering_page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-left: 34px;
  margin-bottom: 24px;
}

.ordering_page__form:last-child {
  margin-bottom: 0;
}

.ordering_page__form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 84px);
  margin: -4px -42px;
}

.ordering_page__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(50% - 84px);
  margin: 4px 42px;
}

.ordering_page__form-title {
  color: #555;
  margin-bottom: 5px;
}

.ordering_page__form-title:last-child {
  margin-bottom: 0;
}

.ordering_page__form input {
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: 1px solid #222;
  border-radius: 6px;
  padding: 0 16px;
}

.ordering_page__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.ordering_page__box-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #555;
  padding-right: 44px;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.ordering_page__box-head:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ordering_page__box-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.ordering_page__box-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  counter-reset: counter;
  width: 100%;
}

.ordering_page__box-block {
  counter-increment: counter;
  border-bottom: 1px solid #555;
  padding-bottom: 24px;
}

.ordering_page__box-block:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ordering_page__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0 44px 0 34px;
}

.ordering_page__products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.ordering_page__products-block:last-child {
  margin-bottom: 0;
}

.ordering_page__products-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 322px;
}

.ordering_page__products-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 89px;
  margin-right: 16px;
}

.ordering_page__products-img img {
  width: 100%;
  height: auto;
}

.ordering_page__products-name {
  margin-top: 7px;
}

.ordering_page__products-name:hover {
  color: #0099FF;
}

.ordering_page__products-name:active {
  color: #45B2FB;
}

.ordering_page__products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  padding-top: 7px;
}

.ordering_page__products-item--price {
  width: 80px;
}

.ordering_page__products-item--quantity {
  width: 75px;
}

.ordering_page__products-item--sum {
  width: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ordering_page__products-title {
  color: #555;
  margin-bottom: 4px;
}

.ordering_page__products-title:last-child {
  margin-bottom: 0;
}

.ordering_page__products-data {
  white-space: pre;
}

.ordering_page__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.ordering_page__radio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 10px 44px 10px 34px;
  position: relative;
}

.ordering_page__radio-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.ordering_page__radio-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 35px;
}

.ordering_page__radio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ordering_page__radio-price {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px;
}

.ordering_page__radio-title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ordering_page__radio-field {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.ordering_page__radio-field:checked + .ordering_page__radio-head .ordering_page__radio-icon:after {
  opacity: 1;
}

.ordering_page__radio-field:checked + .ordering_page__radio-head .ordering_page__radio-border {
  opacity: 1;
}

.ordering_page__radio-field:checked + .ordering_page__radio-head + .ordering_page__radio-body {
  height: auto;
  padding: 16px 0 16px 34px;
  opacity: 1;
  overflow: visible;
}

.ordering_page__radio-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  margin-right: 14px;
}

.ordering_page__radio-icon:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #18A0FB;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.ordering_page__radio-title {
  margin-bottom: 1px;
}

.ordering_page__radio-description {
  color: #555;
}

.ordering_page__radio-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 1px;
  padding: 0 0 0 34px;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  overflow: hidden;
}

.ordering_page__radio-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px;
}

.ordering_page__radio-select:last-child {
  margin-bottom: 0;
}

.ordering_page__radio-select select {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 0 0 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ordering_page__radio-select select::-ms-expand {
  display: none;
}

.ordering_page__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.ordering_page__map-box {
  width: 100%;
  max-width: 360px;
  height: 150px;
  background: #F5F5F5;
  position: relative;
  overflow: hidden;
}

.ordering_page__map-block {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ordering_page__map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.ordering_page__map .fake_map {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ordering_page__map-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.ordering_page__map-btn:hover:after {
  background-color: #0099FF;
}

.ordering_page__map-btn:active:after {
  background-color: #45B2FB;
}

.ordering_page__map-btn:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #18A0FB;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.4792 20H1.52078C0.682325 20 0 19.3177 0 18.4792V1.52078C0 0.682325 0.682325 0 1.52078 0H9.3491C9.81582 0 10.194 0.378168 10.194 0.84488C10.194 1.31159 9.81582 1.68976 9.3491 1.68976H1.68976V18.3102H18.3102V10.8679C18.3102 10.4011 18.6884 10.023 19.1551 10.023C19.6218 10.023 20 10.4011 20 10.8679V18.4792C20 19.3177 19.3177 20 18.4792 20Z' fill='%2318A0FB'/%3e%3cpath d='M19.1551 8.22578C18.6884 8.22578 18.3102 7.84761 18.3102 7.3809V1.68977H12.6191C12.1524 1.68977 11.7742 1.3116 11.7742 0.844883C11.7742 0.37817 12.1524 0 12.6191 0H19.1551C19.6218 0 20 0.37817 20 0.844883V7.3809C20 7.84727 19.6215 8.22578 19.1551 8.22578Z' fill='%2318A0FB'/%3e%3cpath d='M7.39609 13.4485C7.1798 13.4485 6.96351 13.366 6.79859 13.2011C6.46875 12.8713 6.46875 12.3363 6.79859 12.0061L18.5576 0.247382C18.8875 -0.0824606 19.4224 -0.0824606 19.7526 0.247382C20.0825 0.577224 20.0825 1.1122 19.7526 1.44238L7.99359 13.2011C7.82867 13.366 7.61238 13.4485 7.39609 13.4485Z' fill='%2318A0FB'/%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.4792 20H1.52078C0.682325 20 0 19.3177 0 18.4792V1.52078C0 0.682325 0.682325 0 1.52078 0H9.3491C9.81582 0 10.194 0.378168 10.194 0.84488C10.194 1.31159 9.81582 1.68976 9.3491 1.68976H1.68976V18.3102H18.3102V10.8679C18.3102 10.4011 18.6884 10.023 19.1551 10.023C19.6218 10.023 20 10.4011 20 10.8679V18.4792C20 19.3177 19.3177 20 18.4792 20Z' fill='%2318A0FB'/%3e%3cpath d='M19.1551 8.22578C18.6884 8.22578 18.3102 7.84761 18.3102 7.3809V1.68977H12.6191C12.1524 1.68977 11.7742 1.3116 11.7742 0.844883C11.7742 0.37817 12.1524 0 12.6191 0H19.1551C19.6218 0 20 0.37817 20 0.844883V7.3809C20 7.84727 19.6215 8.22578 19.1551 8.22578Z' fill='%2318A0FB'/%3e%3cpath d='M7.39609 13.4485C7.1798 13.4485 6.96351 13.366 6.79859 13.2011C6.46875 12.8713 6.46875 12.3363 6.79859 12.0061L18.5576 0.247382C18.8875 -0.0824606 19.4224 -0.0824606 19.7526 0.247382C20.0825 0.577224 20.0825 1.1122 19.7526 1.44238L7.99359 13.2011C7.82867 13.366 7.61238 13.4485 7.39609 13.4485Z' fill='%2318A0FB'/%3e%3c/svg%3e ");
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.ordering_page__radio_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0 44px 0 34px;
  margin-bottom: 24px;
}

.ordering_page__radio_box:last-child {
  margin-bottom: 0;
}

.ordering_page__radio_box-title {
  margin-bottom: 24px;
}

.ordering_page__radio_box-title:last-child {
  margin-bottom: 0;
}

.ordering_page__radio_box-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.ordering_page__radio_box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.ordering_page__radio_box-item:last-child {
  margin-bottom: 0;
}

.ordering_page__radio_box input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.ordering_page__radio_box input:checked + i:after {
  opacity: 1;
}

.ordering_page__radio_box i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  margin-right: 14px;
}

.ordering_page__radio_box i:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #18A0FB;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.ordering_page-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 343px;
  margin-top: 28px;
  margin-left: 52px;
}

.ordering_page__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 32px;
}

.ordering_page__promo:last-child {
  margin-bottom: 0;
}

.ordering_page__promo-field {
  display: block;
  width: 100%;
  height: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  border: none;
  border-radius: 6px;
  background: #F5F5F5;
  padding: 0 30px;
  margin-bottom: 16px;
}

.ordering_page__promo-field:last-child {
  margin-bottom: 0;
}

.ordering_page__promo-field::-webkit-input-placeholder {
  color: #999;
}

.ordering_page__promo-field::-moz-placeholder {
  color: #999;
}

.ordering_page__promo-field:-ms-input-placeholder {
  color: #999;
}

.ordering_page__promo-field::-ms-input-placeholder {
  color: #999;
}

.ordering_page__promo-field::placeholder {
  color: #999;
}

.ordering_page__promo-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 6px;
  background: #18A0FB;
}

.ordering_page__promo-submit:hover {
  background: #0099FF;
}

.ordering_page__promo-submit:active {
  background: #45B2FB;
}

.ordering_page__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  border-radius: 6px;
  background: #F5F5F5;
  padding: 26px 30px 16px 30px;
  margin-bottom: 27px;
}

.ordering_page__result:last-child {
  margin-bottom: 0;
}

.ordering_page__result-title {
  margin-bottom: 16px;
}

.ordering_page__result-title:last-child {
  margin-bottom: 0;
}

.ordering_page__result-name {
  color: #555;
}

.ordering_page__result-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px;
}

.ordering_page__result-box:last-child {
  margin-bottom: 0;
}

.ordering_page__result-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #555;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.ordering_page__result-block:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ordering_page__result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.ordering_page__result-item:last-child {
  margin-bottom: 0;
}

.ordering_page__result-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  background: #18A0FB;
  margin-bottom: 16px;
}

.ordering_page__result-submit:last-child {
  margin-bottom: 0;
}

.ordering_page__result-submit:hover {
  background: #0099FF;
}

.ordering_page__result-submit:active {
  background: #45B2FB;
}

.ordering_page__result-note {
  font-size: 14px;
  margin-bottom: 16px;
}

.ordering_page__result-note:last-child {
  margin-bottom: 0;
}

.ordering_page__result-note a {
  color: #18A0FB;
}

.ordering_page__result-note a:hover {
  color: #0099FF;
}

.ordering_page__result-note a:active {
  color: #45B2FB;
}

@media screen and (max-width: 1178px) {
  .ordering_page-main {
    width: calc(100% - 300px - 40px);
  }

  .ordering_page-sidebar {
    width: 300px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 991px) {
  .ordering_page-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ordering_page-main {
    width: 100%;
  }

  .ordering_page-title {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .ordering_page__block-head {
    padding-right: 30px;
  }

  .ordering_page__block-head.mb16 {
    margin-bottom: 8px;
  }

  .ordering_page__form-fields {
    width: calc(100% + 68px);
    margin: -4px -34px;
  }

  .ordering_page__form-field {
    width: calc(50% - 68px);
    margin: 4px 34px;
  }

  .ordering_page__box-head {
    padding-right: 30px;
  }

  .ordering_page__products {
    padding-right: 30px;
  }

  .ordering_page__radio-block {
    padding-right: 30px;
  }

  .ordering_page__radio_box {
    margin-bottom: 20px;
  }

  .ordering_page-sidebar {
    width: 100%;
    max-width: 485px;
    margin-top: 65px;
    margin-left: 0;
  }

  .ordering_page__promo {
    margin-bottom: 40px;
  }

  .ordering_page__promo-field {
    padding: 0 72px;
  }

  .ordering_page__result {
    padding: 26px 53px 16px 72px;
  }
}

@media screen and (max-width: 767px) {
  .ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-icon {
    font-size: 18px;
  }

  .ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-text {
    font-size: 18px;
  }

  .ui-selectmenu-button.ui-button.creation_of_appeal-select-button {
    height: 40px;
  }

  .ui-selectmenu-menu.personal_account__filter-select-menu .ui-menu-item-wrapper {
    font-size: 18px;
  }

  .ordering_page-wrap {
    font-size: 18px;
  }

  .ordering_page-title {
    font-size: 30px;
  }

  .ordering_page__block.mb40 {
    margin-bottom: 30px;
  }

  .ordering_page__block-head.mb12 {
    margin-bottom: 16px;
  }

  .ordering_page__block-head.mb40 {
    margin-bottom: 25px;
  }

  .ordering_page__block-title p:before {
    width: 26px;
    height: 26px;
    margin-right: 12px;
  }

  .ordering_page__block-editing {
    display: none;
  }

  .ordering_page__block-note {
    padding: 16px 44px 18px 34px;
  }

  .ordering_page__form-fields {
    width: 100%;
    margin: 0;
  }

  .ordering_page__form-field {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .ordering_page__form-field:last-child {
    margin-bottom: 0;
  }

  .ordering_page__form-title {
    margin-bottom: 2px;
  }

  .ordering_page__form input {
    font-size: 18px;
  }

  .ordering_page__box-head {
    padding-right: 16px;
    padding-bottom: 8px;
  }

  .ordering_page__box-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  .ordering_page__box-block {
    padding-bottom: 20px;
  }

  .ordering_page__products {
    padding: 0;
    padding-left: 34px;
    padding-right: 14px;
  }

  .ordering_page__products-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .ordering_page__products-content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
  }

  .ordering_page__products-content:last-child {
    margin-bottom: 0;
  }

  .ordering_page__products-item {
    padding-top: 0;
  }

  .ordering_page__products-item--price {
    width: auto;
  }

  .ordering_page__products-item--quantity {
    width: auto;
  }

  .ordering_page__products-item--sum {
    width: auto;
  }

  .ordering_page__radio-block {
    padding-right: 18px;
  }

  .ordering_page__radio-icon {
    width: 22px;
    height: 22px;
  }

  .ordering_page__radio_box-title {
    margin-bottom: 20px;
  }

  .ordering_page__radio_box-item {
    margin-bottom: 17px;
  }

  .ordering_page__radio_box i {
    width: 22px;
    height: 22px;
  }

  .ordering_page-sidebar {
    margin-top: 40px;
  }

  .ordering_page__promo {
    margin-bottom: 32px;
  }

  .ordering_page__promo-field {
    font-size: 18px;
    padding: 0 36px;
  }

  .ordering_page__promo-submit {
    font-size: 18px;
  }

  .ordering_page__result {
    padding: 27px 36px 20px 36px;
  }

  .ordering_page__result-title {
    margin-bottom: 14px;
  }

  .ordering_page__result-box {
    margin-bottom: 10px;
  }

  .ordering_page__result-block {
    padding-bottom: 8px;
  }

  .ordering_page__result-submit {
    margin-bottom: 18px;
  }

  .ordering_page__result-note {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .ui-selectmenu-button.ui-button.personal_account__filter-select-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 28px;
    padding: 0 44px;
  }

  .ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-icon {
    font-size: 14px;
    right: 10px;
  }

  .ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-text {
    font-size: 14px;
    text-align: center;
  }

  .ui-selectmenu-button.ui-button.creation_of_appeal-select-button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 40px;
    padding-left: 6px;
  }

  .ui-selectmenu-button.ui-button.creation_of_appeal-select-button .ui-selectmenu-text {
    text-align: left;
  }

  .ui-selectmenu-button.ui-button.ordering_page__radio-select-button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 40px;
    padding: 0;
    padding-left: 10px;
    padding-right: 30px;
  }

  .ui-selectmenu-button.ui-button.ordering_page__radio-select-button .ui-selectmenu-text {
    text-align: left;
  }

  .ui-selectmenu-menu.personal_account__filter-select-menu .ui-menu-item-wrapper {
    font-size: 14px;
    text-align: center;
  }

  .ui-selectmenu-menu.creation_of_appeal-select-menu .ui-menu-item-wrapper {
    text-align: left;
  }

  .ui-selectmenu-menu.ordering_page__radio-select-menu .ui-menu-item-wrapper {
    text-align: left;
    padding: 9px 10px;
  }

  .ui-selectmenu-menu.ordering_page__radio-select-menu .ui-menu {
    max-width: 250px;
  }

  .ordering_page {
    padding-top: 32px;
  }

  .ordering_page-wrap {
    font-size: 14px;
  }

  .ordering_page-title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .ordering_page__block.mb40 {
    margin-bottom: 28px;
  }

  .ordering_page__block-head {
    padding-right: 0;
  }

  .ordering_page__block-head.mb12 {
    margin-bottom: 8px;
  }

  .ordering_page__block-head.mb40 {
    margin-bottom: 16px;
  }

  .ordering_page__block-title p {
    margin-right: 5px;
  }

  .ordering_page__block-title p:before {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .ordering_page__block-title span.geo:before {
    width: 9px;
    height: 11px;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='11' viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.50271 0C2.01323 0 0 2.02274 0 4.52397C0 7.01977 4.50271 11 4.50271 11C4.50271 11 9 7.01977 9 4.52397C9 2.02274 6.98677 0 4.50271 0ZM6.95971 4.26841C6.95971 5.62234 5.86651 6.72615 4.51353 6.72615C3.16597 6.72615 2.06735 5.62234 2.06735 4.26841C2.06735 2.91448 3.16597 1.81068 4.51353 1.81068C5.86651 1.81068 6.95971 2.91448 6.95971 4.26841Z' fill='%2318A0FB'/%3e%3c/svg%3e ");
            mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='11' viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.50271 0C2.01323 0 0 2.02274 0 4.52397C0 7.01977 4.50271 11 4.50271 11C4.50271 11 9 7.01977 9 4.52397C9 2.02274 6.98677 0 4.50271 0ZM6.95971 4.26841C6.95971 5.62234 5.86651 6.72615 4.51353 6.72615C3.16597 6.72615 2.06735 5.62234 2.06735 4.26841C2.06735 2.91448 3.16597 1.81068 4.51353 1.81068C5.86651 1.81068 6.95971 2.91448 6.95971 4.26841Z' fill='%2318A0FB'/%3e%3c/svg%3e ");
    margin-right: 5px;
    margin-top: -1px;
  }

  .ordering_page__block-note {
    padding: 14px 15px 18px 28px;
  }

  .ordering_page__form {
    padding-left: 28px;
  }

  .ordering_page__form-field {
    margin-bottom: 8px;
  }

  .ordering_page__form-title {
    margin-bottom: 5px;
  }

  .ordering_page__form input {
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
  }

  .ordering_page__box-head {
    padding-right: 0;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  .ordering_page__box-title {
    font-size: 14px;
  }

  .ordering_page__box-block {
    padding-bottom: 14px;
  }

  .ordering_page__products {
    padding-left: 28px;
    padding-right: 0;
  }

  .ordering_page__products-content {
    margin-bottom: 20px;
  }

  .ordering_page__products-img {
    width: 72px;
    margin-right: 18px;
  }

  .ordering_page__products-title {
    margin-bottom: 10px;
  }

  .ordering_page__radio-block {
    padding: 8px 15px 8px 28px;
  }

  .ordering_page__radio-head {
    min-height: 28px;
  }

  .ordering_page__radio-field:checked + .ordering_page__radio-head + .ordering_page__radio-body {
    padding: 10px 0 9px 0;
  }

  .ordering_page__radio-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  .ordering_page__radio-icon:after {
    width: 10px;
    height: 10px;
  }

  .ordering_page__radio-title {
    margin-bottom: 0;
  }

  .ordering_page__radio-body {
    padding-left: 0;
  }

  .ordering_page__radio-select {
    margin-bottom: 24px;
  }

  .ordering_page__radio_box {
    padding: 0 0 0 28px;
  }

  .ordering_page__radio_box i {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  .ordering_page__radio_box i:after {
    width: 10px;
    height: 10px;
  }

  .ordering_page-sidebar {
    margin-top: 24px;
  }

  .ordering_page__promo-field {
    height: 40px;
    font-size: 14px;
    padding: 0 28px;
    margin-bottom: 8px;
  }

  .ordering_page__promo-submit {
    height: 40px;
    font-size: 14px;
  }

  .ordering_page__result {
    padding: 15px 15px 18px 28px;
  }

  .ordering_page__result-box {
    margin-bottom: 24px;
  }

  .ordering_page__result-block {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .ordering_page__result-item {
    margin-bottom: 10px;
  }

  .ordering_page__result-submit {
    height: 40px;
  }

  .ordering_page__result-note {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-icon {
    font-size: 12px;
  }

  .ui-selectmenu-button.ui-button.personal_account__filter-select-button .ui-selectmenu-text {
    font-size: 12px;
  }

  .ui-selectmenu-menu.personal_account__filter-select-menu .ui-menu-item-wrapper {
    font-size: 12px;
  }

  .ordering_page-wrap {
    font-size: 12px;
  }

  .ordering_page__form input {
    font-size: 12px;
  }

  .ordering_page__box-title {
    font-size: 12px;
  }

  .ordering_page__promo-field {
    font-size: 12px;
  }

  .ordering_page__promo-submit {
    font-size: 12px;
  }

  .ordering_page__result-note {
    font-size: 12px;
  }
}